
.contact-section-container {
    min-height: 100vh;
    width: 100%;
    background:var(--dark);
    padding:100px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    position: relative;
}


.left-contact {
    display: flex; flex-direction: column; gap: 20px;
    flex:1;
    height:100%
}

.left-contact h1 {
    color:white;
    font-size: 4rem;
    font-weight: 400;
}

.left-contact p {
    color:var(--gray);
}

.left-contact a {
    text-decoration: none;
    color:var(--primary)
}

.right-contact {
    flex:2;
    width:100%;
    border:2px solid red;
    height:100%;
}